.table {
    border-collapse: separate;
    border-spacing:20px 20px;
}

th.colorHead1{
    color: white;
    text-align: center;
  }

th.colorHead2{
    background: gray !important;
    color: black;
    text-align: center;
}

td.colorAddition1{
    background-color: gray;
    color: black;
    text-align: center;
    font-weight: bold;
}

td.colorAddition2{
    background-color: #003594;
    color: white;
    text-align: center;
}


